# Ignora arquivos de compilação do Maven
target/
build/

# Ignora arquivos de compilação antigos do IntelliJ
out/

# Ignora configurações específicas da IDE
.idea/
*.iml
*.iws
*.ipr

# Ignora arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de logs
*.log

# Arquivos temporários
*.class